<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>hyntelo-1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">hyntelo-1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  MapDemoComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/uikit/modules/map-demo/map-demo.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>hy-map-demo</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;p&gt;
  map-demo works!
&lt;/p&gt;

&lt;hy-leaflet [coords]&#x3D;&quot;coords&quot; [zoom]&#x3D;&quot;zoom&quot;&gt;&lt;/hy-leaflet&gt;

&lt;button (click)&#x3D;&quot;coords &#x3D; [44, 12]&quot;&gt;Location 1&lt;/button&gt;
&lt;button (click)&#x3D;&quot;coords &#x3D; [45, 13]&quot;&gt;Location 2&lt;/button&gt;
&lt;button (click)&#x3D;&quot;zoom &#x3D; zoom + 1&quot;&gt;+&lt;/button&gt;
&lt;button (click)&#x3D;&quot;zoom &#x3D; zoom - 1&quot;&gt;-&lt;/button&gt;
{{render()}}
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#coords" >coords</a>
                            </li>
                            <li>
                                <a href="#zoom" >zoom</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#render" >render</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>






    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="render"></a>
                    <span class="name">
                        <span ><b>render</b></span>
                        <a href="#render"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>render()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="25"
                            class="link-to-prism">src/app/features/uikit/modules/map-demo/map-demo.component.ts:25</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="coords"></a>
                    <span class="name">
                        <span ><b>coords</b></span>
                        <a href="#coords"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>[number, number]</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>[43, 13]</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="22" class="link-to-prism">src/app/features/uikit/modules/map-demo/map-demo.component.ts:22</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="zoom"></a>
                    <span class="name">
                        <span ><b>zoom</b></span>
                        <a href="#zoom"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>10</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="23" class="link-to-prism">src/app/features/uikit/modules/map-demo/map-demo.component.ts:23</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;

@Component({
  selector: &#x27;hy-map-demo&#x27;,
  template: &#x60;
    &lt;p&gt;
      map-demo works!
    &lt;/p&gt;
    
    &lt;hy-leaflet [coords]&#x3D;&quot;coords&quot; [zoom]&#x3D;&quot;zoom&quot;&gt;&lt;/hy-leaflet&gt;

    &lt;button (click)&#x3D;&quot;coords &#x3D; [44, 12]&quot;&gt;Location 1&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;coords &#x3D; [45, 13]&quot;&gt;Location 2&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom + 1&quot;&gt;+&lt;/button&gt;
    &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom - 1&quot;&gt;-&lt;/button&gt;
    {{render()}}
  &#x60;,
  styles: [
  ]
})
export class MapDemoComponent {
  coords: [number, number] &#x3D; [43, 13];
  zoom &#x3D; 10;

  render() {
    console.log(&#x27;render&#x27;)
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><p>  map-demo works!</p><hy-leaflet [coords]="coords" [zoom]="zoom"></hy-leaflet><button (click)="coords = [44, 12]">Location 1</button><button (click)="coords = [45, 13]">Location 2</button><button (click)="zoom = zoom + 1">+</button><button (click)="zoom = zoom - 1">-</button>{{render()}}</div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'hy-accordion'},{'name': 'AccordionDemoComponent', 'selector': 'hy-accordion-demo'},{'name': 'AppComponent', 'selector': 'hy-root'},{'name': 'ButtonsDemoComponent', 'selector': 'hy-buttons-demo'},{'name': 'CardComponent', 'selector': 'hy-card'},{'name': 'CatalogComponent', 'selector': 'hy-catalog'},{'name': 'CatalogFormComponent', 'selector': 'hy-catalog-form'},{'name': 'CatalogListComponent', 'selector': 'hy-catalog-list'},{'name': 'CatalogListItemComponent', 'selector': 'hy-catalog-list-item'},{'name': 'ChartDemoComponent', 'selector': 'hy-chart-demo'},{'name': 'ColComponent', 'selector': 'hy-col'},{'name': 'ContactsComponent', 'selector': 'hy-contacts'},{'name': 'DynamicDemoComponent', 'selector': 'hy-dynamic-demo'},{'name': 'HomeComponent', 'selector': 'hy-home'},{'name': 'LeafletComponent', 'selector': 'hy-leaflet'},{'name': 'LoginComponent', 'selector': 'hy-login'},{'name': 'LostpassComponent', 'selector': 'hy-lostpass'},{'name': 'MapDemoComponent', 'selector': 'hy-map-demo'},{'name': 'NavbarComponent', 'selector': 'hy-navbar'},{'name': 'PanelsDemoComponent', 'selector': 'hy-panels-demo'},{'name': 'RegistrationComponent', 'selector': 'hy-registration'},{'name': 'RowComponent', 'selector': 'hy-row'},{'name': 'SigninComponent', 'selector': 'hy-signin'},{'name': 'TabbarComponent', 'selector': 'hy-tabbar'},{'name': 'ToggableComponent', 'selector': 'hy-toggable'},{'name': 'UikitComponent', 'selector': 'hy-uikit'},{'name': 'WeatherComponent', 'selector': 'hy-weather'},{'name': 'WeatherDemoComponent', 'selector': 'hy-weather-demo'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'MapDemoComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'MapDemoComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
