<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>hyntelo-1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">hyntelo-1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  TabbarComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/components/tabbar.component.ts</code>
</p>


    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>This is a generic tabbar</p>

    </p>




<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>hy-tabbar</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;ul class&#x3D;&quot;nav nav-tabs&quot;&gt;
  &lt;li *ngFor&#x3D;&quot;let tab of items&quot; class&#x3D;&quot;nav-item&quot;
      (click)&#x3D;&quot;tabSelect.emit(tab)&quot;&gt;
    &lt;a class&#x3D;&quot;nav-link&quot;
       [ngClass]&#x3D;&quot;{&#x27;active&#x27;: tab.id &#x3D;&#x3D;&#x3D; active?.id}&quot;&gt;
      {{tab[labelField]}}
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#active" >active</a>
                            </li>
                            <li>
                                <a href="#items" >items</a>
                            </li>
                            <li>
                                <a href="#labelField" >labelField</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#tabSelect" >tabSelect</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="active"></a>
                        <b>active</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>T | undefined</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/app/shared/components/tabbar.component.ts:28</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>Actove element</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="items"></a>
                        <b>items</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>T[]</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>[]</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="24" class="link-to-prism">src/app/shared/components/tabbar.component.ts:24</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>List of items to show</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="labelField"></a>
                        <b>labelField</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;name&#x27;</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">src/app/shared/components/tabbar.component.ts:29</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="tabSelect"></a>
                        <b>tabSelect</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="30" class="link-to-prism">src/app/shared/components/tabbar.component.ts:30</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>




</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, EventEmitter, Input, OnInit, Output } from &#x27;@angular/core&#x27;;

/**
 * This is a generic tabbar
 */
@Component({
  selector: &#x27;hy-tabbar&#x27;,
  template: &#x60;
    &lt;ul class&#x3D;&quot;nav nav-tabs&quot;&gt;
      &lt;li *ngFor&#x3D;&quot;let tab of items&quot; class&#x3D;&quot;nav-item&quot;
          (click)&#x3D;&quot;tabSelect.emit(tab)&quot;&gt;
        &lt;a class&#x3D;&quot;nav-link&quot;
           [ngClass]&#x3D;&quot;{&#x27;active&#x27;: tab.id &#x3D;&#x3D;&#x3D; active?.id}&quot;&gt;
          {{tab[labelField]}}
        &lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &#x60;,
})
export class TabbarComponent&lt;T extends { id: number, [key:string]: any}&gt;  {
  /**
   * List of items to show
   */
  @Input() items: T[] &#x3D; [];
  /**
   * Actove element
   */
  @Input() active: T | undefined;
  @Input() labelField &#x3D; &#x27;name&#x27;;
  @Output() tabSelect &#x3D; new EventEmitter&lt;T&gt;();
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ul class="nav nav-tabs">  <li *ngFor="let tab of items" class="nav-item"      (click)="tabSelect.emit(tab)">    <a class="nav-link"       [ngClass]="{\'active\': tab.id === active?.id}">      {{tab[labelField]}}    </a>  </li></ul></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'hy-accordion'},{'name': 'AccordionDemoComponent', 'selector': 'hy-accordion-demo'},{'name': 'AppComponent', 'selector': 'hy-root'},{'name': 'ButtonsDemoComponent', 'selector': 'hy-buttons-demo'},{'name': 'CardComponent', 'selector': 'hy-card'},{'name': 'CatalogComponent', 'selector': 'hy-catalog'},{'name': 'CatalogFormComponent', 'selector': 'hy-catalog-form'},{'name': 'CatalogListComponent', 'selector': 'hy-catalog-list'},{'name': 'CatalogListItemComponent', 'selector': 'hy-catalog-list-item'},{'name': 'ChartDemoComponent', 'selector': 'hy-chart-demo'},{'name': 'ColComponent', 'selector': 'hy-col'},{'name': 'ContactsComponent', 'selector': 'hy-contacts'},{'name': 'DynamicDemoComponent', 'selector': 'hy-dynamic-demo'},{'name': 'HomeComponent', 'selector': 'hy-home'},{'name': 'LeafletComponent', 'selector': 'hy-leaflet'},{'name': 'LoginComponent', 'selector': 'hy-login'},{'name': 'LostpassComponent', 'selector': 'hy-lostpass'},{'name': 'MapDemoComponent', 'selector': 'hy-map-demo'},{'name': 'NavbarComponent', 'selector': 'hy-navbar'},{'name': 'PanelsDemoComponent', 'selector': 'hy-panels-demo'},{'name': 'RegistrationComponent', 'selector': 'hy-registration'},{'name': 'RowComponent', 'selector': 'hy-row'},{'name': 'SigninComponent', 'selector': 'hy-signin'},{'name': 'TabbarComponent', 'selector': 'hy-tabbar'},{'name': 'ToggableComponent', 'selector': 'hy-toggable'},{'name': 'UikitComponent', 'selector': 'hy-uikit'},{'name': 'WeatherComponent', 'selector': 'hy-weather'},{'name': 'WeatherDemoComponent', 'selector': 'hy-weather-demo'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'TabbarComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TabbarComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
