<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>hyntelo-1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">hyntelo-1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  WeatherComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/components/weather.component.ts</code>
</p>




    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnChanges" target="_blank" >OnChanges</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>hy-weather</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;h1 [style.color]&#x3D;&quot;color&quot;&gt;Weather&lt;/h1&gt;
&lt;div *ngIf&#x3D;&quot;meteo&quot;&gt;
  &lt;pre [style.color]&#x3D;&quot;color&quot;&gt;{{meteo.main.temp}}°&lt;/pre&gt;
  &lt;img [src]&#x3D;&quot;&#x27;http://openweathermap.org/img/w/&#x27; + meteo.weather[0].icon + &#x27;.png&#x27;&quot; alt&#x3D;&quot;&quot;&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#meteo" >meteo</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnChanges" >ngOnChanges</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#city" >city</a>
                            </li>
                            <li>
                                <a href="#color" >color</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(http: <a href="https://angular.io/api/common/http/HttpClient" target="_blank">HttpClient</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">src/app/shared/components/weather.component.ts:27</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>http</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/common/http/HttpClient" target="_blank" >HttpClient</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="city"></a>
                        <b>city</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>string | undefined</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">src/app/shared/components/weather.component.ts:26</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="color"></a>
                        <b>color</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>string | undefined</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">src/app/shared/components/weather.component.ts:27</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>



    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnChanges"></a>
                    <span class="name">
                        <span ><b>ngOnChanges</b></span>
                        <a href="#ngOnChanges"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnChanges(changes: <a href="https://angular.io/api/core/SimpleChanges" target="_blank">SimpleChanges</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="31"
                            class="link-to-prism">src/app/shared/components/weather.component.ts:31</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>changes</td>
                                    <td>
                                                <code><a href="https://angular.io/api/core/SimpleChanges" target="_blank" >SimpleChanges</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="meteo"></a>
                    <span class="name">
                        <span ><b>meteo</b></span>
                        <a href="#meteo"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../interfaces/Meteo.html" target="_self" >Meteo | undefined</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="16" class="link-to-prism">src/app/shared/components/weather.component.ts:16</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { Component, Input, OnChanges, OnInit, SimpleChanges } from &#x27;@angular/core&#x27;;
import { Meteo } from &#x27;../../model/meteo&#x27;;

@Component({
  selector: &#x27;hy-weather&#x27;,
  template: &#x60;
    &lt;h1 [style.color]&#x3D;&quot;color&quot;&gt;Weather&lt;/h1&gt;
    &lt;div *ngIf&#x3D;&quot;meteo&quot;&gt;
      &lt;pre [style.color]&#x3D;&quot;color&quot;&gt;{{meteo.main.temp}}°&lt;/pre&gt;
      &lt;img [src]&#x3D;&quot;&#x27;http://openweathermap.org/img/w/&#x27; + meteo.weather[0].icon + &#x27;.png&#x27;&quot; alt&#x3D;&quot;&quot;&gt;
    &lt;/div&gt;
  &#x60;,
})
export class WeatherComponent implements OnChanges {
  meteo: Meteo | undefined;

  /*  @Input() set city(val: string) {
      if (val) {
        this.http.get&lt;Meteo&gt;(&#x60;http://api.openweathermap.org/data/2.5/weather?q&#x3D;${val}&amp;units&#x3D;metric&amp;APPID&#x3D;eb03b1f5e5afb5f4a4edb40c1ef2f534&#x60;)
          .subscribe(res &#x3D;&gt; {
            this.meteo &#x3D; res
          })
      }
    }*/
  @Input() city: string | undefined;
  @Input() color: string | undefined;

  constructor(private http: HttpClient) {}

  ngOnChanges(changes: SimpleChanges) {
    const {city, color } &#x3D; changes;

    if (city &amp;&amp; city.currentValue) {
      this.http.get&lt;Meteo&gt;(&#x60;http://api.openweathermap.org/data/2.5/weather?q&#x3D;${this.city}&amp;units&#x3D;metric&amp;APPID&#x3D;eb03b1f5e5afb5f4a4edb40c1ef2f534&#x60;)
        .subscribe(res &#x3D;&gt; {
          this.meteo &#x3D; res
        })
    }
    if (color) {

    }
  }


}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><h1 [style.color]="color">Weather</h1><div *ngIf="meteo">  <pre [style.color]="color">{{meteo.main.temp}}°</pre>  <img [src]="\'http://openweathermap.org/img/w/\' + meteo.weather[0].icon + \'.png\'" alt=""></div></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'hy-accordion'},{'name': 'AccordionDemoComponent', 'selector': 'hy-accordion-demo'},{'name': 'AppComponent', 'selector': 'hy-root'},{'name': 'ButtonsDemoComponent', 'selector': 'hy-buttons-demo'},{'name': 'CardComponent', 'selector': 'hy-card'},{'name': 'CatalogComponent', 'selector': 'hy-catalog'},{'name': 'CatalogFormComponent', 'selector': 'hy-catalog-form'},{'name': 'CatalogListComponent', 'selector': 'hy-catalog-list'},{'name': 'CatalogListItemComponent', 'selector': 'hy-catalog-list-item'},{'name': 'ChartDemoComponent', 'selector': 'hy-chart-demo'},{'name': 'ColComponent', 'selector': 'hy-col'},{'name': 'ContactsComponent', 'selector': 'hy-contacts'},{'name': 'DynamicDemoComponent', 'selector': 'hy-dynamic-demo'},{'name': 'HomeComponent', 'selector': 'hy-home'},{'name': 'LeafletComponent', 'selector': 'hy-leaflet'},{'name': 'LoginComponent', 'selector': 'hy-login'},{'name': 'LostpassComponent', 'selector': 'hy-lostpass'},{'name': 'MapDemoComponent', 'selector': 'hy-map-demo'},{'name': 'NavbarComponent', 'selector': 'hy-navbar'},{'name': 'PanelsDemoComponent', 'selector': 'hy-panels-demo'},{'name': 'RegistrationComponent', 'selector': 'hy-registration'},{'name': 'RowComponent', 'selector': 'hy-row'},{'name': 'SigninComponent', 'selector': 'hy-signin'},{'name': 'TabbarComponent', 'selector': 'hy-tabbar'},{'name': 'ToggableComponent', 'selector': 'hy-toggable'},{'name': 'UikitComponent', 'selector': 'hy-uikit'},{'name': 'WeatherComponent', 'selector': 'hy-weather'},{'name': 'WeatherDemoComponent', 'selector': 'hy-weather-demo'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'WeatherComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'WeatherComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
